


.back
{
    background: url("C:\Users\hp\Citibridge vcCode\assuredOrganic\src\app\farmer\farmers-option\check.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    size: 100% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
}