<div class="back">

    <div style="top: 10px;right: 9px;position: absolute;">
    <img src="https://i.dlpng.com/static/png/5065892-my-profile-icon-png-327283-free-icons-library-profile-icon-png-500_500_preview.png" width="70"  height="70">
    </div>
    
    <div style="text-align: center;margin-top: 10%;">
        <button style="margin:10px; padding: 12px;width: 300px;height: 100;font-size: larger;font-weight: 700;">Check Product price</button>
    </div>
    
    <div style="text-align: center;">
        <button style="margin:10px; padding: 12px;background-color:grey; width: 300px;height: 100;margin-bottom: 20%;font-size: larger;font-weight: 700;">Sell Product</button>
    </div>
</div>